secrets
tkinter
customtkinter
PyPDF2
pyshark
matplotlib
numpy
fpdf
os
PIL
tkintermapview
Crypto
base64
ip2geotools
geopy
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
